/* Create your test CSS here */


h1 {
    font-size: 5em;
    color:rgb(213, 61, 78);
    background-color: rgb(70, 23, 189);
    padding: 5%;
    text-align: center;
    transform: skew(30deg, 200deg);
}

.special {
    color: rgb(233, 240, 103);
    font-weight: bold;
    transform: rotate(0.5turn);
    text-align: right;
    background-color: black;
}

p {
    color: rgb(41, 41, 127);
    background-color: rgb(233, 247, 132);
}

body {
    background-color: rgb(127, 165, 255);
}
